@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,900');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');


html, body, nav, header, article, p, h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

body{
    font-family: 'Muli', sans-serif;
}

nav{
  min-height: 127px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 22px -3px rgba(0,0,0,0.4);
  font-size: 13px;
  font-weight: bold;
  color: #808080;
  font-family: 'Muli', sans-serif;
  position: relative;
  z-index: 1;
}

nav .container{
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  align-content: center;
  height: 127px;
}

a{
  text-decoration: none;
  color:inherit;
}

nav ul{
  list-style: none;
}

nav ul li{
  margin-left: 50px;
  display: inline-block;
}

nav ul li:first-child{
  margin-left: 0px;
}

nav .logo{
  height: 68px;
  overflow: hidden;
}

nav .logo svg{
  max-width: 422px;
  height: auto;
  margin-top: -66px;
  margin-left: -50px;
}

nav li a:hover{
  color: black;
  border-bottom:2px solid #808080;
}

#topstory{
  min-height: 600px;
  height: 600px;
  background-image: url('../img/bg-hp1.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#topstory .container{
  max-width: 1400px;
  padding: 0 12px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#topstory .container .left, #topstory .container .right{
  margin: 0 12px;
}

#topstory .container .left{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px;
  flex: 0 0 66%
}

#topstory .container .right{
  flex: 0 0 30%;
}
#topstory .container .right img{
  height: auto;
  width: 100%;
  max-width: 370px;
}

#nikki{
  min-height: 700px;
  height: 700px;
  background-image: url('../img/nikki-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

#nikki .container{
  max-width: 1400px;
  padding: 0 12px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#nikki .container .left{
  margin: 0 12px;
  align-self: flex-end;
}

#nikki .container .right{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px;
  flex: 0 0 66%
}

#mikki .container .left{
  flex: 0 0 30%;
}

#nikki .container .left img{
  height: auto;
  width: 100%;
  max-width: 480px;
  position: relative;
  display: block;
}

#blog-hints{
  background: #F3F3F3;
  height: 100%;
  padding: 60px 16px;
}

#blog-hints h1, #blog-hints h4{
  text-align: center;
}

#instalerie{
  background: #F3F3F3;
  height: 100%;
  padding: 60px 16px;
}

#contact{
  min-height: 500px;
  height: 500px;
  background-image: url('../img/nikki-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#contact .contact-input{
    width: 100%;
    min-height: 30px;
    padding-left: 30px;
    background-position: left center;
}

#contact input, textarea{
  border: 1px solid #808080;
  background-color: transparent;
  margin-bottom: 10px;
  position: relative;
}

#contact input[type="submit"]{
  font-family: 'Libre Baskerville', serif;
  padding: 8px;
  float: right;
}

#contact .mail-input{
  background-image: url('../img/mailicon.svg');
  background-repeat: no-repeat;
}

#contact .name-input{
  background-image: url('../img/personicon.svg');
  background-repeat: no-repeat;
  background-size: 22px;
}

#contact .phone-input{
  background-image: url('../img/phoneicon.svg');
  background-repeat: no-repeat;
  background-size: 22px;
}

#contact textarea{
  width: 100%;
  min-height: 100px;
  background-image: url('../img/texticon.svg');
  background-repeat: no-repeat;
  background-size: 22px;
}

#contact .form-wrap{
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px;
  max-width: 540px;
  color: grey;
  display: flex;
  align-items: center;
}

#contact form{
  flex: 0 0 60%;
}

#contact .contact-list{
 flex: 0 0 40%;
}


#instalerie h1, #instalerie h4{
  text-align: center;
}

h1{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  height: 30px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 11px;
}

h4{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300;
  text-transform: uppercase;
}

p.description{
  font-size: 14px;
  margin-top: 42px;
}

.links{
  margin-top: 53px;
}

.links a:nth-child(n+2){
  margin-left: 50px;
}

.btn-transparent{
  border: 1px solid #25292D;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  line-height: 20px;
  padding: 20px 42px;
  display: inline-block;
  position: relative;
}

.btn-transparent:hover{
  background-color: #25292D;
  color: rgba(255, 255, 255, 0.89);
  text-decoration: underline;
}


.social{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.social .twitter{
  background-color: #1DA1F2;
}

.social .instagram{
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.social .facebook{
  background-color: #4267b2;
}

.social.wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px 15px;
  margin: 20px;
}

.social a{
  color: white;
  position: relative;
  display: inline-block;
}

.social svg{
  width: 20px;
  margin-right: 10px;
}

footer ul{
  margin: 0 auto;
}

footer ul li{
  list-style: none;
  display: inline-block;
}

footer nav ul{
  list-style: none;
}

footer nav ul li{
  margin-left: 50px;
  display: inline-block;
}

footer nav ul li:first-child{
  margin-left: 0px;
}

footer nav .logo{
  height: 68px;
  overflow: hidden;
}

footer nav .logo svg{
  max-width: 422px;
  height: auto;
  margin-top: -66px;
  margin-left: -50px;
}

footer nav li a:hover{
  color: black;
  border-bottom:2px solid #808080;
}
footer nav{
  box-shadow: none;
  min-height: auto;
}

footer p{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 32px;
  padding-top: 60px;
  padding-bottom: 40px;
  max-width: 800px;
  margin: 0 auto;
}

footer{
  text-align: center;
  padding: 60px 8px 20px;
}

@media only screen and (max-width: 980px) {
  #topstory{
    height: auto;
  }

  #topstory .container{
    flex-wrap: wrap;
    justify-content: center;
  }

}
